/* =========================================
   BASE
========================================= */

body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: #fff;
}


/* =========================================
   HEADER
========================================= */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 25px 10px;
  border-bottom: 1px solid #222;
}

/* Bloc logo + titre */
.header-left {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  height: 110px;     /* Taille du logo */
  width: auto;
  margin-right: 25px;
  display: block;
}

/* TITRE (Enya Security) */
.site-title {
  display: flex;
  flex-direction: column;
  line-height: 0.85;
}

.title-enya {
  color: #ff00e6;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 18px #ff00e6;
}

.title-security {
  color: #ff00e6;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 0 12px #ff00e6;
  margin-left: 10px;
}

/* MENU */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 18px;
  color: #00d2ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

nav a:hover {
  text-shadow: 0 0 12px #00d2ff;
}


/* =========================================
   CONTENU
========================================= */

.container {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #00d2ff;
  text-shadow: 0 0 15px #00d2ff;
  font-size: 40px;
}

p {
  font-size: 20px;
}

.service-link {
    color: #00e5ff;   /* bleu-cyan comme tes autres titres */
    text-decoration: underline; /* si tu veux garder le style du lien */
}

.service-link:hover {
    color: #ffffff;   /* optionnel : couleur blanche au survol */
}

