/* =========================================
   BASE
========================================= */

body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: #fff;
}


/* =========================================
   HEADER
========================================= */

header {
  display: flex;
  align-items: center;       
  justify-content: space-between;
  padding: 25px 60px;         
  border-bottom: 1px solid #222;
}

/* Logo */
logo {
  height: 95px;              
  width: auto;
  margin-right: 25px;
}

.header-left {
  display: flex;
  align-items: center;        
}

/* Titre Enya Security */
header h2 {
  color: #ff00e6;
  font-size: 36px;
  font-weight: bold;
  margin-right: 50px;
  text-shadow: 0 0 18px #ff00e6;
}


/* =========================================
   NAVIGATION
========================================= */

nav a {
  margin: 0 12px;
  color: #00d2ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

nav a:hover {
  text-shadow: 0 0 12px #00d2ff;
}


/* =========================================
   TITRES GÉNÉRAUX
========================================= */

h1 {
  color: #00d2ff;
  text-shadow: 0 0 15px #00d2ff;
}


/* =========================================
   CONTAINER
========================================= */

.container {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  font-size: 17px;
  line-height: 1.6;
}

.container p {
  font-size: 18px;
}

.container h1 {
  font-size: 34px;
  margin-bottom: 20px;
  text-shadow: 0 0 12px #00d2ff;
}

.container h2 {
  font-size: 26px;
  margin-top: 35px;
  margin-bottom: 10px;
  text-shadow: 0 0 8px #00d2ff;
}

.container h3 {
  font-size: 22px;
  margin-top: 25px;
}

.container ul li {
  font-size: 17px;
  margin-bottom: 8px;
}


/* =========================================
   LIENS SPÉCIFIQUES (Services)
========================================= */

.service-link {
  color: #00d9ff;
  text-decoration: none;
  font-weight: bold;
}

.service-link:hover {
  color: #ff00ff;
  text-shadow: 0 0 6px #ff00ff;
}
