body {
  margin:0;
  background:#000;
  font-family: Arial, sans-serif;
  color:#fff;
}

/* HEADER */
header {
  display:flex;
  align-items:center;
  padding:20px;
  border-bottom:1px solid #222;
}
header img {
  height:60px;
  margin-right:20px;
}
header h2 {
  color:#ff00e6;
  text-shadow:0 0 15px #ff00e6;
  margin-right:40px;
}

/* NAVIGATION */
nav a {
  margin:0 15px;
  color:#00d2ff;
  text-decoration:none;
  font-weight:bold;
}
nav a:hover {
  text-shadow:0 0 10px #00d2ff;
}

/* TITRES */
h1 {
  color:#00d2ff;
  text-shadow:0 0 15px #00d2ff;
}

/* CONTAINER */
.container {
  padding:40px;
  max-width:900px;
  margin:auto;
}
