body {
  margin:0;
  background:#000;
  font-family: Arial, sans-serif;
  color:#fff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding: 35px 40px;  /* plus grand */
  border-bottom: 1px solid #222;
}
header img {
  height: 90px;        /* logo plus grand */
  margin-right: 25px;
}
header h2 {
  color: #ff00e6;
  font-size: 46px;     /* titre beaucoup plus grand */
  font-weight: bold;
  text-shadow: 0 0 18px #ff00e6;
  margin-right: 60px;
}
/* NAVIGATION */
nav a {
  margin: 0 18px;
  color: #00d2ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;     /* menu plus grand */
}
nav a:hover {
  text-shadow: 0 0 12px #00d2ff;
}
/* TITRES */
h1 {
  color:#00d2ff;
  text-shadow:0 0 15px #00d2ff;
}

/* CONTAINER */
.container {
  padding:40px;
  max-width:900px;
  margin:auto;
}

.service-link {
    color: #00d9ff;               /* cyan neon */
    text-decoration: none;        /* pas de soulignement */
    font-weight: bold;
}

.service-link:hover {
    color: #ff00ff;               /* rose neon au survol */
    text-shadow: 0 0 6px #ff00ff;
}

